{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": ["error", "never"],
    "keyword-spacing": ["error", {
      before: true,
      after: false,
      overrides: {
        export: { after: true },
        from: { after: true },
        import: { after: true },
        return: { after: true }
      }
    }],
    "quotes": ["error", "double"],
    "no-extend-native": "off",
    "object-curly-spacing": ["error", "never"]
  }
}
